@{
    ViewBag.Title = "KlantHome";
}
<div class="header-banner">
    <img src="../../Images/accountKlant.jpeg" class="img-responsive" alt="banner" />
</div>
<section id="klantaccount">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="myaccount-menu">
                    <li><a href="#personal-info">Personal info</a></li>
                    <li><a href="#shipping-info">Shipping info</a></li>
                    <li><a href="#order-info">My orders</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="account-info-content" id="personal-info">
                    <h4>PERSONAL INFO <span class="pull-right"><a href="@Url.Action("Info", "Klant")" class="btn btn-primary btn-account-a-orange"><i class="glyphicon glyphicon-pencil"></i><span>Edit</span></a></span></h4>
                    <div class="row">

                        <div class="col-xs-6 col-sm-5 col-md-3">
                            <img src="../../Images/man.png" alt="" class="img-responsive img-account">
                            <a href="#x" class="btn btn-primary btn-xs btn-account-a-orange">Change Image</a>
                        </div>

                        <div class="col-xs-6 col-sm-7 col-md-9">
                            <p>Full Name: <span>John Doe</span></p>
                            <p>Country: <span>USA</span></p>
                            <p>Email: <span>me@mysite.com</span></p>
                            <p>Phone: <span>+0123 456 789</span></p>
                            <p>Date of Birth: <span>Aug. 13, 1991</span></p>
                        </div>
                    </div>
                </div>
                <div class="account-info-content" id="shipping-info">
                    <h4>SHIPPING INFO <span class="pull-right"><a href="@Url.Action("Info", "Klant")" class="btn btn-sm btn-primary btn-account-a-orange"><i class="glyphicon glyphicon-pencil"></i><span>Edit</span></a></span></h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <p><span>John Doe - me@mysite.com</span></p>
                            <p>Country: <span>USA</span></p>
                            <p>State: <span>Florida</span></p>
                            <p>City: <span>Miami</span></p>
                            <p>Address Line: <span>S Miami Ave, SW 20th, Suite 3864</span></p>
                            <p>ZIP Code: <span>33222</span></p>
                        </div>
                    </div>
                </div>
                <div class="account-info-content" id="order-info">

                    <h4>MY ORDERS <span class="pull-right"><a href="@Url.Action("Orders", "Klant")" class="btn btn-sm btn-primary btn-account-a-orange"><i class="glyphicon glyphicon-eye-open"></i><span>View</span></a></span></h4>
                    <p>
                        <a href="@Url.Action("Orders", "Klant", new {id = "1"})">Order #38726</a> <span>- Paid &amp; Shipped</span> - Tracking No: <span>#TRCK182736</span>
                    </p>
                    <p>
                        <a href="#x">Order #34823</a> <span>- Completed on 25.10.2016</span>
                    </p>
                    <p>
                        <a href="#x">Order #23463</a> <span>- Completed on 16.08.2016</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>