
@{
    ViewBag.Title = "Error";
}

<section id="error">
    <div class="container">
        <div class="row">
            <div class="error">
                <div class="col-md-2">
                    <img class="img-responsive" src="../../images/error.png" alt="error"/>
                </div>
                <div class="col-md-10">
                    <p>Er is iets misgegaan met het ophalen van de gegevens, controleer of u verbonden bent met de VPN</p>
                    <p>Verbind met de VPN en probeer het dan opnieuw.</p>
                </div>
            </div>
           
        </div>
    </div>
</section>

