
@{
    ViewBag.Title = "KortingNew";
    var beheerder = ViewData["Beheerder"] as Beheerder;
}

@using KillerApp.Models

<section id="leverancierId">
    <div class="container">
        <div class="row">
            <div class="col-md-12 leverancier-titel">
                <h2>Beheer</h2>
            </div>
            <div class="col-md-2 personal-info">
                @if (beheerder != null)
                {
                    <p>Naam : @beheerder.Naam</p>
                    <p>Account Nr : @beheerder.Id</p>
                    <p><a href="@Url.Action("Korting", "Beheer")">Back</a></p>
                   
                }

            </div>
            <div class="col-md-10 beheer-content">
                
                @using (Html.BeginForm("Save", "Korting", FormMethod.Post))
                {

                    <p>Percentage:</p>
                    <div class="form-group">
                        <input id="percentage" name="percentage" type="text" class="form-control" value="" />
                    </div>
                    <p>Omschrijving:</p>
                    <div class="form-group">
                        <input id="omschrijving" name="omschrijving" type="text" class="form-control" value="" />
                    </div>
                   
                    <button id="form-submit" class="btn btn-default btn-send" type="submit">Save</button>
                }

                
            </div>
        </div>
    </div>
</section>




