<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <add
            name="killerappCon"
            connectionString="Data Source=WIN-SRV-WEB-LS.fhict.local;Initial Catalog=killerproducts;User ID=Webshop;Password=Test1234;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>