body {
    padding-top: 81px;
    padding-bottom: 20px;
}

a:hover, a:focus {
    text-decoration: none;
}
/* Set padding to keep content from hitting the edges */

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

/*Google Fonts*/
body {
    font-family: 'Merriweather', serif;
}

/* Menu bar CSS */
.sec-nav {
    float: right;
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 15px;
}

.logo {
    max-height: 50px;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

.navbar-nav {
    float: none;
    margin-top: 15px;
}

    .navbar-nav > li {
        float: none;
        display: inline-block;
    }

.menu-icon {
    font-size: 20px;
    color: #000000;
}

    .menu-icon:hover {
        color: #bd6b17;
    }

.menu-icon-active {
    color: #bd6b17;
}

.menu-icon-cart {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*Banner CSS
.header-banner {
    background: url('../Images/bannerSamung.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    margin-bottom: 3%
}*/

.header-banner {
    margin-bottom: 3%;
}
/*Features CSS*/
.shipping {
    background-color: #f8f8f8;
}

.delivery {
    background-color: #ebebeb;
}

.money {
    background-color: #f8f8f8;
}

.feature-content {
    padding: 15%;
}

    .feature-content > h5 {
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }

.feature-icon {
    font-size: 30px;
    color: #BD6B17;
}

#features {
    margin-bottom: 3%;
}

/*Collection CSS*/
.collection {
    margin-bottom: 29px;
}

.collection-left {
    padding-left: 0;
}

.collection-right {
    padding-right: 0;
}

.img-opacity {
    opacity: 0.5;
    transition: .35s ease-in-out;
}

    .img-opacity:hover {
        opacity: 1;
        transition: .35s ease-in-out;
    }
/*Shop CSS*/
.page-header {
    border-bottom: none;
}

    .page-header > h3 {
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }

.latest-products {
    list-style: none;
    padding: 0;
}

.product-price {
    position: absolute;
    top: 30px;
    right: 30px;
    background: #e9e9e9;
    padding: 3%;
    border-radius: 10%;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #bd6b17;
}

#shop {
    margin-bottom: 2%;
}

.product-overlay {
    background: #bd6b17;
    position: absolute;
    padding: 50.5% 34% 61% 34%;
    opacity: 0.7;
    display: none;
}

.product-icon {
    font-size: 30px;
    padding: 8px;
    background: #fff;
    border-radius: 5px;
    color: #000;
}

    .product-icon:hover {
        color: #bd6b17;
        background: #000000;
    }

.product-product {
    background: #bd6b17;
    margin-bottom: 5%;
}

.img-product {
    opacity: 1;
}

.product-hover-icons {
    position: absolute;
    z-index: 2;
    bottom: 46%;
    right: 36%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, ease-in-out 0.3s;
    -moz-transition: opacity 0.3s, ease-in-out 0.3s;
    -o-transition: opacity 0.3s, ease-in-out 0.3s;
    transition: opacity 0.3s, ease-in-out 0.3s;
}

.product:hover .product-hover-icons {
    right: 36%;
    text-align: center;
    visibility: visible;
    opacity: 1;
}

.product-hover-details {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 10%;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s, ease-in-out 0.3s;
    -moz-transition: opacity 0.3s, ease-in-out 0.3s;
    -o-transition: opacity 0.3s, ease-in-out 0.3s;
    transition: opacity 0.3s, ease-in-out 0.3s;
}

    .product-hover-details > h4 {
        font-weight: 700;
    }

.product:hover .product-hover-details {
    bottom: 8%;
    left: 10%;
    text-align: left;
    visibility: visible;
    opacity: 1;
}

.collection-hover-details {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 10%;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s, ease-in-out 0.3s;
    -moz-transition: opacity 0.3s, ease-in-out 0.3s;
    -o-transition: opacity 0.3s, ease-in-out 0.3s;
    transition: opacity 0.3s, ease-in-out 0.3s;
}

    .collection-hover-details > h4 {
        font-weight: 700;
    }

.img-opacity:hover .collection-hover-details {
    bottom: 8%;
    left: 10%;
    text-align: left;
    visibility: visible;
    opacity: 1;
}

.product-list {
    list-style: none;
    overflow: auto;
    padding: 0;
    width: 100%;
}

.show-products {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.product-filter {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.filter-list {
    list-style: none;
    padding-left: 0;
}

    .filter-list > li {
        margin-bottom: 3%;
    }

        .filter-list > li > a {
            color: #bd6b17;
        }

            .filter-list > li > a:hover {
                color: #844a10;
            }

.prijs-filter {
    margin-bottom: 15%;
}

.widget-prijs {
    margin-bottom: 15%;
}

.options {
    font-family: 'Lato', sans-serif;
    overflow: auto;
}
/*Footer CSS*/
.footer-info {
    background: #f8f8f8;
    padding: 30px 0 30px 0;
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #e3e3e3;
}

.footer-img {
    margin-bottom: 5%;
}

    .footer-img > img {
        max-height: 30px;
    }

.footer-title {
    text-align: left;
    text-transform: uppercase;
}

    .footer-title > h4 {
        font-weight: 700;
        font-family: 'Lato', sans-serif;
    }

.brand-list {
    list-style: none;
    padding: 0;
}

    .brand-list > li {
        margin-bottom: 10px;
    }

        .brand-list > li > a {
            color: #bd6b17;
            font-weight: 700;
        }

.second-footer {
    margin-top: 3%;
}
/*About CSS*/
.aboutshop {
    background: #f8f8f8;
    min-height: 352px;
    max-height: 352px;
    padding: 30px;
}

    .aboutshop > h3 {
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }

#about {
    margin-bottom: 2%;
}

#team {
    margin-bottom: 2%;
}

    #team > .container > h2 {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 3%;
    }

.team {
    text-align: center;
}

.team-info {
    padding: 15px;
    border: 1px solid #ebebeb;
}

    .team-info > h5 {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }

.team-rol {
    text-transform: uppercase;
    color: #778899;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/*Contact CSS*/
.contact-content {
    padding: 30px;
}

    .contact-content > h5 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .contact-content > p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #778899;
    }

        .contact-content > p > a {
            color: #bd6b17;
        }

.contactform {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-send {
    width: 100%;
    border-radius: 0;
    padding: 4%;
    border: 1px solid #bd6b17;
    background-color: #bd6b17;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: .35s ease-in-out;
}

    .btn-send:hover, .btn-send:focus, .btn-send:active, .btn-send:active:focus {
        background: transparent;
        border: 1px solid #bd6b17;
        color: #000000;
    }

#contact-info {
    margin-bottom: 2%;
}

#contact-form {
    margin-bottom: 2%;
}

#map {
    width: 100%;
    height: 400px;
}
/*Login CSS*/
#login {
    margin-bottom: 2%;
}

.login-form > h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.register-form > h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
/*Cart CSS*/
.shopping-items {
    width: 100%;
    margin-bottom: 5%;
}

    .shopping-items > tbody > tr > td {
        vertical-align: middle;
    }

.cart-item img {
    max-width: 50px;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.qty input[type="number"] {
    max-width: 70px;
    max-height: 40px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    padding: 10px;
    float: left;
    outline: none !important;
}

table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tr > td {
    padding: 15px;
    line-height: 1.5;
    vertical-align: top;
    border-bottom: 1px solid #ebebeb;
}

.image-cart > a > img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-backface-visibility: hidden;
}

.image-cart {
    width: 105px;
}

.cart-product-title {
    color: #bd6b17;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.shopping-items > thead {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.cart-item > td {
    font-family: 'Lato', sans-serif;
}

.btn-cart {
    background: #bd6b17;
    height: 62px;
    border-radius: 0;
    border: 1px solid #bd6b17;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    transition: .35s ease-in-out;
    text-transform: uppercase;
}

    .btn-cart:hover, .btn-cart:focus, .btn-cart:active {
        color: #000;
        background: transparent;
        border: 1px solid #bd6b17;
        transition: .35s ease-in-out;
    }

.btn-cart-grey {
    background: #2F4F4F;
    height: 62px;
    border-radius: 0;
    border: 1px solid #2F4F4F;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    transition: .35s ease-in-out;
    text-transform: uppercase;
}

    .btn-cart-grey:hover, .btn-cart-grey:focus, .btn-cart-grey:active {
        color: #000;
        background: transparent;
        border: 1px solid #2F4F4F;
        transition: .35s ease-in-out;
    }

.cart-checkout > a {
    float: right;
}

.cart-checkout {
    margin: 5% 0 5% 0;
}

.btn-cart-a {
    padding: 15px 20px 15px 20px;
    background: #2F4F4F;
    border: 1px solid #2F4F4F;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: .35s ease-in-out;
}

    .btn-cart-a:hover, .btn-cart-a:active, .btn-cart-a:focus {
        background: transparent;
        color: #000000;
        transition: .35s ease-in-out;
    }

.btn-cart-a-orange {
    padding: 15px 20px 15px 20px;
    background: #bd6b17;
    border: 1px solid #bd6b17;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: .35s ease-in-out;
}

    .btn-cart-a-orange:hover, .btn-cart-a-orange:active, .btn-cart-a-orange:focus {
        background: transparent;
        color: #000000;
        border: 1px solid #bd6b17;
        transition: .35s ease-in-out;
    }

.cart-total {
    font-family: 'Lato', sans-serif;
    margin: 5% 0 5% 0;
}

    .cart-total > h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
/*Single product CSS*/
.product-info {
    background: #f8f8f8;
    padding: 30px;
    font-family: 'Lato', sans-serif;
}

    .product-info > h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

.info > p > i {
    margin-right: 20px;
}

.aantal > input {
    margin: 2% 0 2% 1%;
}

#single-product {
    margin-bottom: 3%;
    margin-top: 3%;
}

.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.nav-tabs {
    border-bottom: 3px solid #ebebeb;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #bd6b17;
        background: none;
        border: none;
        border-bottom: 3px solid #bd6b17 !important;
    }

    .nav-tabs > li > a:hover {
        background: none;
        border: none;
    }

    .nav-tabs > li > a {
        border: none;
    }

.product-info-tabs {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

    .product-info-tabs > li > a {
        color: #bd6b17;
        text-transform: uppercase;
    }

#product-content-info {
    font-family: 'Lato', sans-serif;
}

.review-content {
    font-family: 'Lato', sans-serif;
    border-bottom: 3px solid #e3e3e3;
}

    .review-content > h4 {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }

.review-stars {
    color: #e2a740;
}

.review-form {
    margin-top: 5%;
}

    .review-form > h4 {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
    }

.btn-send > i {
    margin-right: 10px;
}
.newprijs {
    color: #b22222;
    text-transform: uppercase;
    font-weight: 700;
}
/*Klant account CSS*/
.myaccount-menu {
    list-style: none;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

    .myaccount-menu > li {
        margin-bottom: 5px;
    }

        .myaccount-menu > li > a {
            color: #bd6b17;
            text-transform: uppercase;
        }

.account-info-content {
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
    font-family: 'Lato', sans-serif;
}

    .account-info-content > h4 {
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 30px;
        padding-bottom: 30px;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: 700;
    }

.btn-account-a-orange {
    padding: 5px 10px 5px 10px;
    background: #bd6b17;
    border: 1px solid #bd6b17;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: .35s ease-in-out;
    width: 100%;
}

    .btn-account-a-orange:hover, .btn-account-a-orange:active, .btn-account-a-orange:focus {
        background: transparent;
        color: #000000;
        border: 1px solid #bd6b17;
        transition: .35s ease-in-out;
    }

.img-account {
    border-radius: 5px;
    margin-bottom: 10px;
}

.account-info-content > h4 > span > a > i {
    margin-right: 10px;
}

.titel-info {
    padding-right: 0;
}

    .titel-info > h2 {
        border-bottom: 5px solid;
        padding-bottom: 15px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
    }

.klant-info {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

#info-klant {
    margin-bottom: 3%;
}

.order-info {
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.btn-uitloggen {
    width: 100%;
    border-radius: 0;
    color: #FFFFFF;
    background-color: #bd6b17;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    transition: .35s ease-in-out;
}
    .btn-uitloggen:hover {
        color: #000000;
        border: 1px solid #bd6b17;
        background: transparent;
        transition: .35s ease-in-out;
    }
/*Beheer account CSS*/
.btn-beheerderhome {
    margin-right: 1%;
}
/*Leverancier CSS*/
#leverancier {
    margin-bottom: 5%;
}
.leverancier-titel > h2 {
    border-bottom: 3px solid;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5%;
}

.personal-info {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-right: 5px solid;
}
.beheer-content {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-left: 5%;
}
#leverancierId {
    margin-bottom: 5%;
}
#leverancierNew {
    margin-bottom: 5%;
}
/*Producten beheer CSS*/
#productenBeheer {
    margin-bottom: 5%;
}
/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.section-white {
    padding: 10px 0;
}

.section-white {
    background-color: #fff;
    color: #555;
}

@media screen and (min-width: 768px) {
    .section-white {
        padding: 1.5em 0;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 930px;
    }
}

/*Bootstrap overrides*/
.navbar-default {
    background: #ffffff;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #bd6b17;
        background: none;
    }

.navbar-nav {
    font-family: 'Lato', sans-serif;
}

    .navbar-nav > li > a {
        font-weight: 700;
    }

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #bd6b17;
    }

.form-control {
    background: #f8f8f8;
    font-weight: 400;
    border-radius: 0;
    padding: 20px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.navbar {
    min-height: 81px;
}