@{
    ViewBag.Title = "About";
}
<div class="header-banner">
    <img src="../../Images/about.jpeg" class="img-responsive" alt="banner" />
</div>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img alt="about" class="img-responsive" src="../../Images/aboutshop.jpeg" />
            </div>
            <div class="col-md-5 aboutshop">
                <h3>About the shop</h3>
                <p>
                    Bacon ipsum dolor amet filet mignon jerky leberkas,
                    ground round kielbasa cupim shoulder sausage strip steak
                    jowl chuck burgdoggen short ribs boudin. Kevin ribeye shankle,
                    tongue pork corned beef tenderloin ball tip pastrami pancetta jowl prosciutto.
                    Tenderloin pork belly shankle cow jowl chuck, pig prosciutto beef ribs ribeye.
                    Venison tongue pork belly t-bone leberkas pork loin chuck short ribs pancetta rump.
                    Kielbasa pork jerky, ribeye sirloin turducken frankfurter venison bacon ball tip shoulder flank.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="team">
    <div class="container">
        <h2 class="text-center">The team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="team">
                    <img alt="team-member" class="img-responsive" src="../../Images/person1.jpg" />
                    <div class="team-info">
                        <h5>Henriëtte Van Laar</h5>
                        <p class="team-rol">Store manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img alt="team-member" class="img-responsive" src="../../Images/person2.jpeg" />
                    <div class="team-info">
                        <h5>Andreas Klerkx</h5>
                        <p class="team-rol">Administrator</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img alt="team-member" class="img-responsive" src="../../Images/person3.jpeg" />
                    <div class="team-info">
                        <h5>Bas Sevriens</h5>
                        <p class="team-rol">boss</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>