@{
    ViewBag.Title = "Account";
}

<div class="header-banner">
    <img src="../../Images/account.jpeg" class="img-responsive" alt="banner" />
</div>

<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-form">
                    <h3>Login</h3>
                    <div class="form-group">
                        <input id="email" class="form-control" placeholder="EMAIL" type="email" required data-error="*Please fill out this field" />
                    </div>
                    <div class="form-group">
                        <input id="password" class="form-control" placeholder="PASSWORD" type="password" required data-error="*Please fill out this field" />
                    </div>
                    <a id="form-submit" class="btn btn-default btn-send">Log in</a>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>